{% extends 'layout.html' %} {% block content %}
<div class="row mb-2 mt-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Entrenar modelo</h1>
        <p class="card-text">Seleccionar columnas:</p>
        <form method="post" action="{% url 'rend_entrenar' %}">
          {% csrf_token %} {% for item in items %}
          <div class="form-check form-switch">
            <input class="form-check-input" name="items_checkbox" type="checkbox" id="check" value={{ item }}
            {% if item in selected %} checked {% endif %}>
            <label class="form-check-label" for="check">{{ item }}</label>
          </div>
          {% endfor %}
          <button class="btn btn-primary mt-2" type="submit">Enviar</button>
        </form>
        <br>
        <br>
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Error</span>
          </div>
          <input type="text" class="form-control" value={{ error }}>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
